.about {
  padding: 100px 8%;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 42px;
  color: #38bdf8;
}

.about-container {
  max-width: 1100px;
  margin: auto;
}

.about-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.about-item {
  display: flex;
  gap: 20px;
  padding: 30px;
  border-radius: 18px;
  background: rgba(255,255,255,.05);
  border: 1px solid rgba(56,189,248,.3);
  transition: .3s;
}

.about-item:hover {
  transform: translateY(-8px);
  border-color: #38bdf8;
  box-shadow: 0 0 25px rgba(56,189,248,.3);
}

.about-icon {
  font-size: 40px;
  color: #38bdf8;
}

.about-item h3 {
  margin-bottom: 10px;
  color: white;
}

.about-item p {
  color: #cbd5e1;
  line-height: 1.7;
}

@media (max-width:768px) {
  .about-card {
    grid-template-columns: 1fr;
  }
}