/* =========================
   Timeline Section
========================= */

.timeline {
  background: #020617;
  color: white;
  padding: 100px 10%;
}

.timeline h2 {
  text-align: center;
  color: #38bdf8;
  font-size: 2.5rem;
  margin-bottom: 60px;
}

/* Timeline Container */

.timeline-container {
  position: relative;
  max-width: 900px;
  margin: auto;
}

/* Vertical Line */

.timeline-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background: #38bdf8;
  transform: translateX(-50%);
  border-radius: 20px;
}

/* Timeline Item */

.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  margin-bottom: 40px;
}

/* Left Side */

.timeline-item.left {
  left: 0;
  text-align: right;
}

/* Right Side */

.timeline-item.right {
  left: 50%;
}

/* Card */

.timeline-content {
  background: #0f172a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,.4);
  transition: 0.3s;
}

.timeline-content:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(56,189,248,.3);
}

/* Dot */

.timeline-item::before {
  content: "";
  position: absolute;
  top: 28px;
  width: 18px;
  height: 18px;
  background: #38bdf8;
  border: 4px solid #020617;
  border-radius: 50%;
  z-index: 10;
}

.timeline-item.left::before {
  right: -10px;
}

.timeline-item.right::before {
  left: -10px;
}

/* Text */

.timeline-content h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.timeline-content h4 {
  color: white;
  margin-bottom: 8px;
}

.timeline-content p {
  color: #cbd5e1;
  line-height: 1.6;
}

/* =========================
   Mobile
========================= */

@media (max-width: 768px) {

  .timeline-container::before {
    left: 20px;
  }

  .timeline-item {
    width: 100%;
    left: 0 !important;
    padding-left: 60px;
    padding-right: 20px;
    text-align: left;
  }

  .timeline-item::before {
    left: 11px !important;
  }

}