.certifications{
    padding:100px 10%;
    background:#050816;
    color:white;
}

.certifications h2{
    text-align:center;
    color:#00F5FF;
    font-size:40px;
    margin-bottom:50px;
}

.cert-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.cert-card{
    background:#111827;
    padding:25px;
    border-radius:15px;
    text-align:center;
    transition:.3s;
    border:1px solid rgba(0,245,255,.2);
}

.cert-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(0,245,255,.5);
}

.cert-card h3{
    color:#00F5FF;
    margin-bottom:10px;
}

.cert-card p{
    color:#d1d5db;
}

.cert-card span{
    color:#00F5FF;
    font-weight:bold;
}